

  .aa:hover {
    padding: 2px;
    border-radius: 13px;
    
    text-shadow:#BFBFBF 5px 5px ;
    }

    .h{
      box-shadow: 10px 10px 5px #aaaaaa;
      border: 12px solid #BFBFBF;

    
    }
    .f1{
      border-top: solid;
      padding-top: 15px;
    }

    